section table{
    float: initial;
    border: solid;
    background-color: blanchedalmond;
    table-layout: auto;
}
caption h1 {
   text-align: center; 
   border: solid;
   color: brown;
}
ul li{
    display: inline-flex;
    margin: 20px;
    list-style: none;
     color:darkblue;
     background-color: cornsilk;
     text-align: center;
   


}
img{
    widows: 300px;;
    height: 150px;


}
p{
    color: darkslategray;
    text-align: center;
}
.cap2{
    color: black;
    background-color: blanchedalmond;
    font-size: larger;
    font-weight: bolder;
}
.fir{
    width: 100%;
    height: auto;
    box-shadow: cornsilk;
}
.link{
    display: inline-flex;
    margin: 20px;
    list-style: none;
     color:darkblue;
     background-color: cornsilk;
     /* text-align: right; */
     float: right;
}
.salesre{
    widows: 300px;;
    height: 150px;
    display: inline-flexbox;
    float: left;

}
.sal{
    text-align: left;
}